@media screen and (max-width: 740px) {
    header .contain {
        width:80%;
    }
}
@media screen and (max-width:420px) {
    header .contain .menu a {
        font-size:15px;
    }
}
@media screen and (max-width:372px) {
    .toggleWrapper {
        width:55px;
    }
}
@media screen and (max-width:365px) {
    .toggleWrapper {
        width:55px;
        right:2px;
    }
}
@media screen and (max-width:309px) {
    .toggleWrapper {
        width:60px;
    }
}
@media screen and (max-width:361px) {
    #contactTag, #aboutUs, #FAQS {
        display:none;
    }
    header .contain .menu a i {
        font-size:20px;
        display:flex;
        align-items: center;
    }
    header .menu a {
        text-decoration: none;
    }
    a:hover {
        color:#ffd740 !important;
    }
}
@media screen and (max-width:700px) {
    .icon{
        width:30px;
        height:30px;
    }
    .icon:before {
        width:30px;
        height:30px;
    }
}

@media screen and (max-width: 500px) {
    body {
        width:77%;
    }
    footer {
        width:100vw;
    }
    header {
        font-size:12px;
    }
    .icon {
        width:22px;
        height:22px;
    }
    .icon::before {
        width:22px;
        height:22px;
    }
    .bottom {
        justify-content: none;
        display:flex;
        align-items: center;
        font-size:12px;
    }

    .bottom .logo {
        width:28%;
        justify-content: flex-start;
    }
    .bottom .contactInfo{
        width:36%;
    }
    .bottom .social {
        width:36%;
    }
    .bottom .logo .taxAgent {
        height:25%;
    }
    .bottom .logo .xero {
        height:25%;
    }
    .bottom .taxAgent img {
        width:36.3px;
        height:36.3px;
    }
    .bottom .xero img {
        width:74px;
        height:36px;
    }
}

#socialTitle {
    margin-bottom:5px;
}
@media screen and (max-width:375px) {
    .text .aboutUs {
        font-size:11px;
    }
    .faq p{
        font-size:11px;
    }
    .bottom {
        font-size:8px;
    }
    .bottom .taxAgent img {
        width:30px;
        height:30px;
    }
    .bottom .xero img {
        width:61px;
        height:30px;
    }
    .icon {
        width:16px;
        height:16px;
    }
    .icon::before {
        width:16px;
        height:16px;
    }
    header .toogle {
        left:20px;
    }
}
@media screen and (max-width:275px) {
    .bottom .logo {
        display:none;
    }
    .bottom .social{
        display:none;
    }
    .bottom .contactInfo {
        width:100%;
        font-size:15px;
    }
}