@media screen and (max-width: 1064px) {
    header .option {
        display:none;
        flex-direction:column;
        position:fixed;
        top:100px;
        width:100vw;
        left:0;
        background-color:#37474f;
        height:150px;
        font-size:14px;
    }
    header .option a {
        /* margin: 10px; */
        padding-left:10px;
        display:flex;
        height:calc(100% /3);
    }
    header .toogle {
        display:block;
    }
    header .toogle i:nth-child(1) {
        display:block;
    }
    header .toogle i:nth-child(2) {
        display:none;
    }
    header .toogle.active i:nth-child(1) {
        display:none;
    }
    header .toogle.active i:nth-child(2) {
        display:block;
    }
    header .option.active {
        display:flex;
    }
    header .toogle i {
        font-size:20px;
    }
    header .toggle::before {
        display:none;
    }
    header .toggle::after {
        display:none;
    }
    header .contain {
        display:flex;
        justify-content:flex-end;
    }
    header .menu {
        width:120px;
    }
    #aboutUs:hover, #contactTag:hover, #FAQS:hover{
    background-color:#1976d2;
    color:white;
}
}
@media screen and (max-width:700px) {
    .icon{
        width:30px;
        height:30px;
    }
    .icon:before {
        width:30px;
        height:30px;
    }
}
@media screen and (max-width: 500px) {
    body {
        width:77%;
    }
    footer {
        width:100vw;
    }
    header {
        font-size:12px;
    }
    .icon {
        width:22px;
        height:22px;
    }
    .icon::before {
        width:22px;
        height:22px;
    }
    footer {
        font-size: 12px;
    }
    .bottom {
        justify-content: none;
        display:flex;
        align-items: center;
        font-size:12px;
    }
    
    footer .title {
        height:35px;
    }
    .bottom .logo {
        width:28%;
        justify-content: flex-start;
    }
    .bottom .contactInfo{
        width:36%;
    }
    .bottom .social {
        width:36%;
    }
    .bottom .logo .taxAgent {
        height:25%;
    }
    .bottom .logo .xero {
        height:25%;
    }
    .bottom .taxAgent img {
        width:36.3px;
        height:36.3px;
    }
    .bottom .xero img {
        width:74px;
        height:36px;
    }
}

#socialTitle {
    margin-bottom:5px;
}
@media screen and (max-width:375px) {
    .text .aboutUs {
        font-size:11px;
    }
    .faq p{
        font-size:11px;
    }
    .bottom {
        font-size:8px;
    }
    .bottom .taxAgent img {
        width:30px;
        height:30px;
    }
    .bottom .xero img {
        width:61px;
        height:30px;
    }
    .icon {
        width:16px;
        height:16px;
    }
    .icon::before {
        width:16px;
        height:16px;
    }
}